
/* * {
    outline: 1px dotted black;
} */


/* Parent */
#content {
/*   background: thistle; */
  margin: 0 auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  background: black;
  color: green;  
  z-index: -1;
}


header  {
  display: flex;
  font-size: large;
  max-width: 100%;
  justify-content: center;
  height: 5em;
}

 h1 {
  align-content: center;
  font-family: 'Press Start 2P', cursive;
  color: green;
  background: lightgray;
  box-shadow: inset 0 -0.6em 0.1em -0.35em rgba(0,0,0,0.17);
  border-radius: 4px;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 2em;
  letter-spacing: 1px;
  kerning: 2px;
  height: 50px;
}

.bq-title {
  font-family: 'Press Start 2P', cursive;
  background:  linear-gradient(to right, #f79d00, #64f38c);
  border: none;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: .2em ;
}

blockquote {
  line-height: 1.2em;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
}


 h2 {
  font-size: 1.9em;
  align-items: center;
  padding: 10px;
  border: 7px inset gray;
  font-family: 'Press Start 2P', cursive;
 
}

h3 {  
  font-family: 'Press Start 2P', cursive;
  background-image:  linear-gradient(to right, #f79d00, #64f38c);
  -webkit-background-clip: text;
  color: transparent;
}


  /* Cast */
.cast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
 
  
}

figure {
  width: 400px;
  margin-top: -15px;
  overflow: hidden;
  /* transition: height 1.5s; */
  text-align: center;
  margin-bottom: 3rem;
  background: #000;
  
}


figure img {
  width: 100%;
  height: 200px;
  justify-content: center;
  filter: grayscale(1);
}
 
figure li {
  text-align: left;
  padding-bottom: 10px;
  margin-left: -15px;
  height: 0;
  display: none;
  
}

figure h3 {
  display: none;
}

figure:hover {
  height: 577px;
 
}

figure:hover h3 {
  display: flex;
}

figure:hover h2 {
  background-image:  linear-gradient(to right, #f79d00, #64f38c);
  -webkit-background-clip: text;
  color: transparent;
}


figure:hover li {
  display: list-item;
  margin-bottom: 30px;
}

figure:hover img{
  filter: none;
}

.rtlink {
  color: green;
}

.plyr__video-embed iframe {
	top: -50%;
	height: 200%;
}

.ytp-suggestions{
  display: none;
}



/* Progress Bar */
.plyr--full-ui input[type="range"] {
  color: #3a8f27;
}

.plyr__time {
  font-size: 12px;
}

/* Circle Button */
.plyr__control {
  border-radius: 50%
}

/* Reg Button */
.plyr__control{
  color :#3a8f27;
  background: lightgray;
}   



/* HOVER */
.plyr__controls__item.plyr__control:hover {
  background: #3a8f27;
  color: lightgray;
}



@media only screen 
    and (min-width: 0) 
    and (max-width: 48em)  { 
      
      /* Diagnostic Styling. Delete When Done. */
      body:before {
           background: yellow;
           content: "Mobile Size";
      }
      header b {
          display: none;
      }
      .cast {
        text-align: center;
        justify-content: center;
      }
    
  }
  
  /* Tablet:  
    * 768px = 48em 
      1023px = 63.9375em;
  */
@media only screen 
    and (min-width: 48em) 
    and (max-width: 64em)  {
      
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Tablet Size";
    } 

    header b {
      display: none;
  }
  
figure:focus {
  height: 577px;
 
}

figure:focus h3 {
  display: flex;
}

figure:focus h2 {
  background-image:  linear-gradient(to right, #f79d00, #64f38c);
  -webkit-background-clip: text;
  color: transparent;
}


figure:focus li {
  display: list-item;
  margin-bottom: 30px;
}

figure:focus img{
  filter: none;
}

       .cast {
        text-align: center;
        justify-content: center;
      }
      
  }
  
  /* Desktop: 
    * 1024px = 64em
    * 64em and larger
  */
@media screen 
    and (min-width: 64em) 
    and (max-width: 90em) { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Desktop Size";
    }
  
  }
  
  /* Wide Desktop: 
    * 1440px = 90em
    * 90em and wider
  */
@media screen and (min-width: 90em) { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Wide Desktop Size";
    }
  
  }
  
  