
/* * {
    outline: 1px dotted black;
} */


/* Parent */
#content {
/*   background: thistle; */
  margin: 0 auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  /* background-image: ; */

  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* height: 100%; */
  color: green;  
}




header, .trailer{
  margin-bottom: 3em;
  background-image: radial-gradient(rgba(0, 0, 0, 0.383), #000000b6), url(https://media2.giphy.com/media/esMcTxGMz3Hhu/giphy.gif?cid=790b7611eacb809aa48231e14711ea1c910e15d5129481e7&rid=giphy.gif);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

header,.cs  {
  display: flex;
  font-size: large;
  max-width: 100%;
  justify-content: center;
  height: 5em;
}

.cs {
  padding-bottom: 3em;
}

 h1, #cast-title {
  align-content: center;
  font-family: 'Press Start 2P', cursive;
  color: green;
  background: lightgray;
  box-shadow: inset 0 -0.6em 0.1em -0.35em rgba(0,0,0,0.17);
  border-radius: 4px;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 2em;
  letter-spacing: 1px;
  kerning: 2px;
  height: 50px;
}


.bq-title {
  font-family: 'Press Start 2P', cursive;
  background:  linear-gradient(to right, #f79d00, #64f38c);
  border: none;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: .2em ;
}

blockquote{
  margin-top: 2em;
  line-height: 1.2em;
  font-size: 1.7em;
  font-weight: 800;
  text-align: center;
}

  blockquote p{
    /* background: rgba(0, 0, 0, 0.589);
    border: 7px inset gray; */
  background: lightgray;
  box-shadow: inset 0 -0.6em 0.1em -0.35em rgba(0,0,0,0.17);
  border-radius: 4px;
  padding: 20px;
  padding-bottom: 10px;
  }

  blockquote a {
    margin-left: 15px;
    text-decoration: none;
    text-emphasis: italic;
  }


 h2 {
  font-size: 1.9em;
  align-items: center;
  padding: 10px;
 }

.cast h2 {
  border: 7px inset gray;
  font-family: 'Press Start 2P', cursive;
 
}

h3 {  
  font-family: 'Press Start 2P', cursive;
  background-image:  linear-gradient(to right, #f79d00, #64f38c);
  -webkit-background-clip: text;
  color: transparent;
}

.info {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 7em;
  margin-bottom: 7em;
  margin-left: 5em;
  background: rgba(0, 0, 0, 0.383);
}

table {
  border: 2px dashed silver;
  padding: 5px;
}

.info-title {
  font-family: 'Press Start 2P', cursive;
  background-image:  linear-gradient(to right, #f79d00, #64f38c);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  
}


tr {
  height: 3em;
}

td {
  text-align: center;
  width: 40%;
  border-bottom: 2px dashed silver;
  font-size: 25px;
}
th {
  width: 30%;
  font-weight: 800;
  font-family: 'Press Start 2P', cursive;
  color: #ede161;
  border: 2px solid silver;
}


  /* Cast */
.cast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

figure {
  margin-top: 3em;
  border-radius: 10px;
  width: 400px;
  overflow: hidden;
  transition: 1.5s;
  text-align: center;
  margin-bottom: 3rem;
 background: rgba(0, 0, 0, 0.589);
  
}


figure img {
  width: 100%;
  height: 200px;
  justify-content: center;
  filter: grayscale(1);
}
 
figure li {
  text-align: left;
  padding-bottom: 10px;
  margin-left: -15px;
  height: 0;
  display: none;
  vertical-align: 3px;
  
}

figure h3 {
  display: none;
}

figure:hover {
  /* height: 577px; */
  height: fit-content;
  background: rgba(0, 0, 0, 0.774);

 /* overflow-y: auto; */

}

figure:hover h3 {
  display: flex;
}

figure:hover h2 {
  background-image:  linear-gradient(to right, #f79d00, #64f38c);
  -webkit-background-clip: text;
  color: transparent;
}


figure:hover li {
  display: list-item;
  height: 130%;  
}

figure:hover li:last-child  {
  /* background: blue; */
  padding-bottom: 10px ;
}

figure:hover img{
  filter: none;
}

aside li{
  list-style: none;
  color: green;
}


.rtlink {
  color: green;
}


.plyr__video-embed iframe {
	top: -50%;
	height: 200%;
}

.ytp-suggestions{
  display: none;
}



/* Progress Bar */
.plyr--full-ui input[type="range"] {
  color: #3a8f27;
}

.plyr__time {
  font-size: 12px;
}

/* Circle Button */
.plyr__control {
  border-radius: 50%
}

/* Reg Button */
.plyr__control{
  color :#3a8f27;
  background: lightgray;
}   



/* HOVER */
.plyr__controls__item.plyr__control:hover {
  background: #3a8f27;
  color: lightgray;
}



@media only screen 
    and (min-width: 0) 
    and (max-width: 48em)  { 


      .info {
        display: inline-block;
        width: 80%;

        margin-right: -150px;
        margin-top: 3em;
        margin-bottom: 3em;
      }

    .info-title {
      align-content: center;
    }
    

      
       blockquote p {
        margin-left: 2em;
        max-width: 80%;
      }
      
     #content {
       max-width: 100%;
       justify-content: space-around;
       align-content: center;
       min-height: 100%;
     }
      /* Diagnostic Styling. Delete When Done. */
      /* body:before {
           background: yellow;
           content: "Mobile Size";
      } */
      header b {
          display: none;
      }
     
        
      }
      .bq-title {
        font-size: 1.4em;
        justify-content: space-around;
      }


      
      
      figure:hover h3 {
        display: flex;
      }
      
      figure:hover h2 {
        background-image:  linear-gradient(to right, #f79d00, #64f38c);
        -webkit-background-clip: text;
        color: transparent;
      }
      
      
      figure:hover li {
        display: list-item;
        margin-bottom: 30px;
      }
      
      figure:hover img{
        filter: none;
      }
      
      aside li{
        list-style: none;
      }
  
  
  /* Tablet:  
    * 768px = 48em 
      1023px = 63.9375em;
  */
@media only screen 
    and (min-width: 48em) 
    and (max-width: 64em)  {
      
    /* Diagnostic Styling. Delete When Done. */
    /* body:before {
         background: yellow;
         content: "Tablet Size";
    }  */

    body {
      align-content: center;
    }

    header b {
      display: none;
  }
    figure:focus {
        height: 577px;
      
      }

      figure:focus h3 {
        display: flex;
      }

      figure:focus h2 {
        background-image:  linear-gradient(to right, #f79d00, #64f38c);
        -webkit-background-clip: text;
        color: transparent;
      }


      figure:focus li {
        display: list-item;
        margin-bottom: 30px;
      }

      figure:focus img{
        filter: none;
      }

       .cast {
        text-align: center;
        justify-content: center;
      }

      aside li{
        list-style: none;
      }
  }
  
  /* Desktop: 
    * 1024px = 64em
    * 64em and larger
  */
@media screen 
    and (min-width: 64em) 
    and (max-width: 90em) { 
    
    /* Diagnostic Styling. Delete When Done. */
    /* body:before {
         background: yellow;
         content: "Desktop Size";
    } */
    .info {
      width: 80%;

    }
  
  }
  
  /* Wide Desktop: 
    * 1440px = 90em
    * 90em and wider
  */
@media screen and (min-width: 90em) { 
    
}